body {
    background: #f0f4ff;
}
#currentcs {
    background-color: #46e;
}
c {
    color: #7ae;
    background-color: rgba(235, 235, 255, 0.75);
}
c:hover {
    background-color: #46e;
}
c:active {
    background-color: #46e;
}
#slink {
    background-color: #46e;
    background-image: linear-gradient(#69e, #57e);
}
.stitle {
    color: #228;
}
.stitle2 {
    color: #46e;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1a122f;
    }
    c {
        background-color: rgba(15, 15, 215, 0.3);
    }
    .stitle {
        color: #002;
    }
    .stitle2 {
        color: #7ae;
    }
}