body {
    background: #f4fff0;
}
#currentcs {
    background-color: #3a3;
}
c {
    color: #7c9;
    background-color: rgba(233, 255, 238, 0.911)
}
c:hover {
    background-color: #3a3;
}
c:active {
    background-color: #3a3;
}
#slink {
    background-color: rgb(9, 82, 9);
    background-image: linear-gradient(#3c5, #3a3);
}
.stitle {
    color: #272;
}
.stitle2 {
    color: #3a3;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #252a20;
    }
    c {
        background-color: rgba(15, 215, 92, 0.15);
    }
    .stitle {
        color: #001500;
    }
    .stitle2 {
        color: #7c9;
    }
}