body {
    background: #ffe9f4;
    background-image: linear-gradient(#ffeff7, #ffe2ef);
}
#currentcs {
    background-color: #e9d;
}
c {
    color: #e9d;
    background-color: rgba(255, 236, 255, 0.75);
}
c:hover {
    background-color: #e9d;
}
c:active {
    filter: none;
    background-color: #c4a;
}
#slink {
    background-color: #e9d;
    background-image: linear-gradient(#ead, #e9d);
}
.stitle {
    color: #a07;
}
.stitle2 {
    color: #c4a;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #3f2934;
        background-image: linear-gradient(#3f2f37, #3f222f);
    }
    c {
        background-color: rgba(215, 15, 132, 0.15);
    }
    .stitle {
        color: #ebf;
    }
    .stitle2 {
        color: #e9d;
    }
}