#currentcs {
    background-color: #d63;
}
c {
    color: #e85;
    background-color: rgba(255, 244, 235, 0.75);
}
c:hover {
    background-color: #d63;
}
c:active {
    background-color: #d63;
}
#slink {
    background-color: #d63;
    background-image: linear-gradient(#e74, #d63);
}
.stitle2 {
    color: #d63;
}
@media (prefers-color-scheme: dark) {
    c {
        background-color: rgba(215, 112, 15, 0.15);
    }
    .stitle2 {
        color: #e85;
    }
}