body {
    background: #fff4ef;
}
a {
    color: #e85 !important;
}
a:hover {
    background-color: #d63;
}
a:active {
    background-color: #d63;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #251f14;
    }
}