body {
    background: #ffe9f4;
}
a {
    color: #e9d !important;
}
a:hover {
    background-color: #e9d;
}
a:active {
    background-color: #c4a;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #3f2934;
    }
}