body {
    background: #f0f4ff;
}
a {
    color: #7ae !important;
}
a:hover {
    background-color: #46e;
}
a:active {
    background-color: #46e;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1a122f;
    }
}