body {
    animation: gra 0.6s ease 1;
    background: #eee; 
    transition: 0.25s;
    font-family: "HarmonyOS Sans SC","Century Gothic","Noto Sans","Source Han Sans CN","Microsoft YaHei",微软雅黑,"Microsoft JhengHei","Segoe UI","Arial",黑体;
    color: #333;
    text-align: left;
    user-select: none;
}
#container {
    background-color: #fff;
    box-shadow: 0px 0px 32px rgba(0,0,0,0.4);
    position: relative;
    left: calc(50vw - 400px);
    border-radius: 20px;
    width: 720px;
    padding: 32px;
    transition: 0.25s;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(127,127,127,0.6);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(127,127,127,1);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(63,63,63,1);
}
a {
    text-decoration: none;
    transition: 0.25s;
    color: #555;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px 8px;
    border-radius: 8px;
}
a:hover {
    color: #fff !important;
    background-color: #555;
}
a:active {
    filter: brightness(60%);
    background-color: #555;
}
h4 {
    color: #555;
    line-height: 150%;
}
#largetitle {
    font-weight: bold;
    position: fixed;
    top: 60px;
    left: calc(50% - 800px);
    font-size: 384px;
    animation: appear 0.6s ease 1;
    color: rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: -1;
}
s {
    opacity: 0.4;
}
@media (prefers-color-scheme: dark) {
    body { 
        background: #252525; 
        color: #eeeeee;
    }
    #container {
        background-color: #202020;
    }
    a {
        color: #ddd;
    }
    h4 {
        color: #aaa;
    }
    #largetitle {
        color: rgba(255,255,255,0.1);
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(191,191,191,1);
    }
}
@media screen and (max-width: 900px) {
    #container {
        left: calc(7.5vw - 32px);
        border-radius: 20px;
        width: 85vw;
        padding: 24px;
    }
}
@keyframes gra {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}