body { 
    background: #ffffff; 
    font-family: "Century Gothic","Noto Sans","Source Han Sans CN","Microsoft YaHei",微软雅黑,"Microsoft JhengHei","Segoe UI";
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.25s;
}
/*::-webkit-scrollbar {
    display: none;
}*/
#main {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#page2 {
    display: none;
    position: relative;
    top: 2vh;
    margin: auto;
    width: 90%;
    height: 90vh;
    border-radius: 64px;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    /*backdrop-filter: blur(64px);*/
    transition: 0.25s;
    overflow-x: hidden;
    overflow-y: hidden;
}
#page2 .sections{
    position: relative;
    top: 0px;
    margin: auto;
    height: calc(85% - 96px);
    width: 90%;
    overflow-x: hidden;
    transition: 0.25s;
}
a {
    text-decoration: none;
    transition: 0.25s;
}
a:active {
    filter: brightness(60%);
}
c {
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}
c:hover {
    color: #fff;
    background-color: #555;
}
c:active {
    filter: brightness(60%);
    color: #fff;
    background-color: #555;
}
#currentcs {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 2px;
    border-radius: 7px 7px;
    border: 1px solid #aaa;
    background-color: #777;
    opacity: 0.8;
    transition: 0.25s;
}
#currentcs:hover {
    opacity: 1.0;
}
#currentcs:active {
    opacity: 1.0;
    filter: brightness(0.6);
}
textrt {
    font-weight: bold;
    font-size: 16px;
    color: #777;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: default;
    animation: appear 0.4s 1;
    transition: 0.25s;
}
#lt {
    font-size: 18px;
    color: #999;
    top: auto;
    right: auto;
    bottom: 56px;
    left: 8px;
    animation: appear 1.4s 1;
}
#lt:hover {
    filter: brightness(140%);
}
#links {
    position: absolute;
    width: 360px;
    left: 12px;
    bottom: 12px;
    animation: appear 2.5s cubic-bezier(0, 0.3, 0, 1) 1;
}
#mainlnks a div {
    display: inline;
    position: relative;
    bottom: 0px;
    border-radius: 8px;
    padding: 6px 6px;
    opacity: 0.6;
    transition: 0.25s;
}
#mainlnks a div:hover {
    position: relative;
    bottom: 8px;
    opacity: 1.0;
}
#mainlnks a div:active {
    position: relative;
    filter: invert(60%);
    bottom: -4px;
}
#sectionchoice {
    position: relative;
    top: 0px;
    left: calc(50% - 160px);
    border-radius: 8px;
    padding: 6px 6px;
    transition: 0.25s;
}
#sectionchoice a div{
    display: inline;
}
#sectionchoice a div img{
    position: relative;
    padding: 4px;
    transition: 0.25s;
    top: 0px;
    opacity: 0.6;
}
#sectionchoice a div img:hover {
    position: relative;
    top: 8px;
    opacity: 1.0;
}
#sectionchoice a div img:active {
    position: relative;
    filter: invert(60%);
    top: -4px;
}
#tip1 {
    text-align: center;
    position: relative;
    color: #777;
    top: 32px;
    font-weight: bold;
    font-size: 22px;
    animation: appear 0.6s 1;
}
#othlnks {
    display: none;
    position: absolute;
    width: 200px;
    bottom: 70px;
    left: 140px;
    border-radius: 8px;
    background-color: rgba(127,127,127,0.2);
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 24px #111;
    padding: 4px;
    animation: lnkshowup 0.25s cubic-bezier(0, 0.67, 0, 1) 1;
}
#othlnks div {
    display: block;
    position: relative;
    width: 188px;
    height: 18px;
    top: -4px;
    margin-top: 4px;
    border-radius: 6px;
    padding: 6px;
    color: #333;
    background-color: rgba(255,255,255,0);
    transition: 0.25s;
}
#othlnks div:hover {
    color: black;
    background-color: rgba(255,255,255,0.25);
}
#othlnks div:active {
    background-color: rgba(0,0,0,0.5);
}
#cschooser {
    display: none;
    position: absolute;
    width: 132px;
    height: 36px;
    top: 54px;
    right: 228px;
    border-radius: 12px;
    background-color: rgba(127,127,127,0.2);
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 24px #111;
    padding: 4px;
    animation: lnkshowup2 0.5s cubic-bezier(0, 0.67, 0, 1) 1;
}
#cschooser span {
    display: inline;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    border-radius: 7px 7px;
    border: 1px solid #aaa;
    transition: 0.25s;
}
#cschooser span:hover {
    filter: brightness(1.4);
}
#cschooser span:active {
    filter: brightness(0.6);
}
#cschooser #cs1 {
    background-color: #d63;
    left: 10px;
}
#cschooser #cs2 {
    background-color: #e9d;
    left: 36px;
}
#cschooser #cs3 {
    background-color: #46e;
    left: 62px;
}
#cschooser #cs4 {
    background-color: #3a3;
    left: 88px;
}
#cschooser #cs5 {
    background-color: #777;
    left: 114px;
}
#centerpic {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    animation: icoshowup 1.2s cubic-bezier(0, 0.3, 0, 1) 1;
    transition: 0.25s;
}
#centerpic:hover{
    opacity: 0.8;
}
#centerpic:active{
    opacity: 0.4;
}
#toscr2 {
    position: absolute;
    /*top: calc(50% + 224px);*/
    top: 75%;
    left: calc(50% - 32px);
    animation: appear 2s 1;
    opacity: 0.4;
    transition: 0.25s;
}
#toscr2:hover{
    opacity: 0.8;
    top: calc(75% + 8px);
}
#toscr2:active{
    opacity: 0.2;
    top: calc(75% - 8px);
}
#toscr1 {
    position: relative;
    top: 0px;
    left: calc(50% - 32px);
    animation: appear 2s 1;
    opacity: 0.4;
    transition: 0.25s;
}
#toscr1:hover{
    opacity: 0.8;
    top: 8px;
}
#toscr1:active{
    opacity: 0.2;
    top: -8px;
}
.sections {
    display: none;
    transform: translateX(0px);
}
.secdisplay {
    display: block;
}
.stitle {
    font-size: 180px;
    font-weight: bold;
    opacity: 0.1;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    transition: 1s;
}
.sinfo {
    font-size: 18px;
    position: relative;
    top: calc(-48px + 8vh);
    text-align: center;
    line-height: 32px;
    transition: 0.25s;
}
.stitle2 {
    font-size: 24px;
    font-weight: bold;
    opacity: 0.6;
    position: relative;
    text-align: center;
}
.stitle2:not(#slink) {
    top: calc(-64px + 14vh);
}
#slink {
    position: relative;
    display: table;
    top: calc(0px + 14vh);
    transition: 0.25s;
    color: #fff;
    background-color: #555;
    background-image: linear-gradient(#616161, #555);
    font-size: 20px;
    padding: 6px 14px;
    margin: 6px auto;
    border-radius: 12px;
}
#slink:hover {
    opacity: 1.0;
}
.sscreenshots {
    position: relative;
    width: 400px;
    margin: auto;
    top: calc(-32px + 14vh);
    box-shadow: 0px 8px 16px 16px rgba(0,0,0,0.15);
}
@media (prefers-color-scheme: dark) {
    body { 
        background: #252525; 
    }
    textrt {
        color: #989898;
    }
    #lt {
        color: #565656;
    }
    a {
        color: #8080ff;
    }
    c {
        background-color: rgba(255, 255, 255, 0.1);
    }
    #page2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.02));
    }
    #links a div:not(#othlnks div) {
        filter: invert(100%);
    }
    #othlnks div {
        color: #CCC;
    }
    #othlnks div:hover {
        color: #fff;
    }
    #sectionchoice {
        filter: invert(100%);
    }
    #tip1 {
        color: #777;
    }
    #centerpic {
        filter: invert(100%);
    }
    #toscr2 {
        filter: invert(100%);
    }
    #toscr1 {
        filter: invert(100%);
    }
    .sinfo {
        color: #FFF;
    }
    .stitle {
        opacity: 0.25;
    }
    .stitle2 {
        color: #FFF;
    }
}
@media screen and (max-width: 640px) {
    #sectionchoice {
        top: -8px;
    }
    .stitle {
        font-size: 90px;
    }
    .sinfo {
        top: calc(-48px + 8vh);
        line-height: 28px;
    }
    #page2 {
        width: 95%;
        border-radius: 32px;
    }
    #page2 .sections{
        top: -16px;
        height: calc(90% - 96px);
    }
}
@media screen and (min-width: 1280px) {
    #page2 {
        width: 1152px;
        border-radius: 96px;
    }
    .stitle {
        font-size: 216px;
    }
}
@keyframes appear {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
@keyframes disappear {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
@keyframes lnkshowup {
    from {
        opacity: 0.0;
        transform: translateY(60px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes lnkhide {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(60px);
    }
}
@keyframes lnkshowup2 {
    from {
        opacity: 0.0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes lnkhide2 {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(-30px);
    }
}
@keyframes icoshowup {
    from {
        opacity: 0.0;
        top: calc(50% - 80px);
    }
    to {
        opacity: 1.0;
        top: calc(50% - 160px);
    }
}
@keyframes icogo {
    from {
        opacity: 1.0;
        top: calc(50% - 160px);
    }
    to {
        opacity: 0.0;
        top: calc(50% - 240px);
    }
}
@keyframes pg1go {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(-240px);
    }
}
@keyframes pg2showup {
    from {
        opacity: 0.0;
        transform: translateY(240px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes pg2go {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(240px);
    }
}
@keyframes pg1showup {
    from {
        opacity: 0.0;
        transform: translateY(-240px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes secshowup {
    from {
        opacity: 0.0;
        transform: translateX(240px);
    }
    to {
        opacity: 1.0;
        transform: translateX(0px);
    }
}
@keyframes secgo {
    from {
        opacity: 1.0;
        transform: translateX(0px);
    }
    to {
        opacity: 0.0;
        transform: translateX(-240px);
    }
}
@keyframes secshowup2 {
    from {
        opacity: 0.0;
        transform: translateX(-240px);
    }
    to {
        opacity: 1.0;
        transform: translateX(0px);
    }
}
@keyframes secgo2 {
    from {
        opacity: 1.0;
        transform: translateX(0px);
    }
    to {
        opacity: 0.0;
        transform: translateX(240px);
    }
}
