* {
    font-family: "HarmonyOS Sans SC","Century Gothic","Noto Sans","Source Han Sans CN","Microsoft YaHei",微软雅黑,"Microsoft JhengHei","Segoe UI","Arial","黑体";
}
body { 
    background: #ffffff; 
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.25s;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(127,127,127,0.6);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(63,63,63,1) !important;
}
#main {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    left: 0px;
    top: 0px;
    overflow: hidden;
    animation: appear 1s cubic-bezier(0, 0.2, 0, 1) 1;
}
#page2 {
    display: none;
    position: relative;
    top: 1vh;
    top: 1dvh;
    margin: auto;
    width: 100%;
    height: 96vh;
    height: 96dvh;
    transition: 0.25s;
    overflow-x: hidden;
    overflow-y: hidden;
}
#page2 .sections{
    position: relative;
    margin: auto;
    height: calc(96% - 144px);
    width: 576px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,.06),
    0px 1px 1px -.5px rgba(0,0,0,.06),
    0px 2px 2px -1px rgba(0,0,0,.06),
    0px 4px 4px -2px rgba(0,0,0,.06),
    0px 8px 8px -4px rgba(0,0,0,.06),
    0px 16px 16px -8px rgba(0,0,0,.06),
    0px 32px 32px -16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 24px;
    overflow-x: hidden;
    transition: 0.25s;
}
a {
    color: #339;
    text-decoration: none;
    transition: 0.25s;
    font-weight: bold;
}
a:active {
    color: #115 !important;
}
c {
    color: #555;
    background-color: rgba(0, 0, 0, 0);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color,color;
    transition-duration: 0.25s;
}
c:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#currentcs {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    top: 2px;
    border-radius: 9px 9px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    background-color: #777;
    opacity: 0.8;
    transition: 0.25s;
}
#currentcs:active {
    opacity: 1.0 !important;
    filter: brightness(0.6);
}
textrt {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    color: #999;
    position: absolute;
    top: 6px;
    right: 16px;
    cursor: default;
}
#lt {
    font-size: 18px;
    top: auto;
    right: auto;
    bottom: 56px;
    left: 8px;
    animation: appear 1.4s 1;
}
#host_id {
    transition: 0.25s;
}
#links {
    position: absolute;
    text-align: center;
    width: 96vw;
    left: 2vw;
    bottom: 20px;
    animation: appear 1.5s cubic-bezier(0, 0.4, 0, 1) 1;
}
#mainlnks a div {
    display: inline;
    position: relative;
    bottom: 0px;
    padding: 6px;
    opacity: 0.6;
    transition: 0.25s;
    animation: lnksappear 0.4s cubic-bezier(0, 0.6, 0, 1) 1;
}
#mainlnks a div:active {
    position: relative !important;
    bottom: -4px !important;
}
#mainlnks a div img {
    transition: 0.25s;
}
#mainlnks a div img:active {
    filter: invert(60%);
}
#sectionchoice {
    position: relative;
    top: 12px;
    text-align: center;
    padding: 6px;
    transition: 0.25s;
}
#sectionchoice a div{
    display: inline;
}
#sectionchoice a div img{
    position: relative;
    padding: 4px;
    transition: 0.25s;
    top: 0px;
    opacity: 0.6;
}
#sectionchoice a div img:active {
    position: relative !important;
    filter: invert(60%);
    top: 4px !important;
}
#tip1 {
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    position: fixed;
    left: 0px;
    top: 0px;
    animation: tipshow cubic-bezier(0, 0.8, 0.2, 1) 1s 1;
}
#tip1 span {
    color: #222;
    position: relative;
    top: 9px;
    font-size: 14px;
}
#tip1 c {
    position: relative;
    top: 14px;
}
#othlnks {
    display: none;
    text-align: left;
    position: absolute;
    width: 180px;
    bottom: 64px;
    left: calc(50vw - 4px);
    border-radius: 6px;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 32px rgba(0,0,0,0.2);
    padding: 3px 4px;
    animation: lnkshowup 0.25s cubic-bezier(0, 0.67, 0, 1) 1;
}
#othlnks div {
    display: block;
    position: relative;
    font-weight: normal;
    width: 164px;
    height: 20px;
    top: -1px;
    margin-top: 2px;
    border-radius: 4px;
    padding: 8px;
    color: #333;
    background-color: rgba(255,255,255,0);
    transition: 0.25s;
}
#othlnks div:active {
    background-color: rgba(0,0,0,0.5) !important;
}
#cschooser {
    display: none;
    position: absolute;
    width: 134px;
    height: 38px;
    top: 54px;
    right: 64px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 32px rgba(0,0,0,0.2);
    padding: 4px;
    animation: lnkshowup2 0.5s cubic-bezier(0, 0.67, 0, 1) 1;
}
#cschooser span {
    display: inline;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    border-radius: 9px 9px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    transition: 0.25s;
}
#cschooser span:active {
    filter: brightness(0.6) !important;
}
#cschooser #cs1 {
    background-color: #d63;
    left: 10px;
}
#cschooser #cs2 {
    background-color: #e9d;
    left: 36px;
}
#cschooser #cs3 {
    background-color: #46e;
    left: 62px;
}
#cschooser #cs4 {
    background-color: #3a3;
    left: 88px;
}
#cschooser #cs5 {
    background-color: #777;
    left: 114px;
}
#centerpic_container {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: appear 1.2s cubic-bezier(0, 0.3, 0, 1) 1;
}
#centerpic {
    position: relative;
    transition: 0.25s;
}
#centerpic:active{
    opacity: 0.4 !important;
}
#toscr2 {
    position: relative;
    top: 48px;
    left: -184px;
    animation: appear 2s 1;
    opacity: 0.4;
    transition: 0.25s;
}
#toscr2:active{
    opacity: 0.2 !important;
    top: 56px !important;
}
#toscr1 {
    position: relative;
    top: 0px;
    left: calc(50% - 24px);
    animation: appear 2s 1;
    opacity: 0.4;
    transition: 0.25s;
}
#toscr1:active{
    opacity: 0.2 !important;
    top: -8px !important;
}
.sections {
    display: none;
    transform: translateX(0px);
}
.secdisplay {
    display: block;
}
.stitle {
    font-size: 36px;
    font-weight: bold;
    opacity: 0.8;
}
.sinfo {
    font-size: 18px;
    position: relative;
    top: 16px;
    line-height: 32px;
}
.stitle2 {
    top: 16px;
    opacity: 0.6;
    position: relative;
}
.stitle2.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 96px;
}
.slink {
    position: relative;
    display: table;
    top: 16px;
    transition: 0.25s;
    color: rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 4px 8px rgba(0,0,0,.2);
    font-size: 17px;
    padding: 8px 12px;
    margin: 28px auto;
    border-radius: 4px;
    opacity: 1.0;
}
.slink:active {
    scale: 0.95;
    color: rgba(255,255,255,0.8) !important;
    background-color: rgba(0,0,0,0.6) !important;
    box-shadow: 0px .5px 1px rgba(0,0,0,1);
}
.sscreenshots {
    position: relative;
    max-width: 400px;
    margin: auto;
    top: 16px;
    box-shadow: 0px 4px 4px rgba(0,0,0,.2);
    border-radius: 4px;
}
.sscreenshots picture img {
    max-width: 100%;
    border-radius: 4px;
}
#bgcon {
    position: relative;
    top: 7.5px;
    right: 16px;
    opacity: 0.15;
    transition: 0.25s;
}
#bgcon:active {
    opacity: 1.0 !important;
}
s {
    opacity: 0.6;
}
.pmpt_bg {
    z-index: 2;
}
.prompt {
    position: absolute;
    background-color: rgba(216,216,216,0.8);
    border-radius: 4px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
    z-index: 3;
}
.pmpt_closebtn {
    position: relative;
    background-color: #111;
    opacity: 0.25;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    float: right;
    top: 16px;
    right: -78px;
    transition: 0.2s;
    z-index: 4;
}
.fullscrnbtn {
    top: 92px;
    right: -134px;
}
.pmpt_closebtn:active {
    filter: brightness(20%);
}
.pmpt_closebtn img {
    filter: invert(100%);
    scale: 0.5;
}
.prompt_text {
    position: relative;
    font-size: 16px;
    line-height: 155%;
    margin: 22px;
    top: -38px;
    width: calc(100% - 36px);
    height: calc(100% - 34px);
    overflow-y: auto;
}
.prompt_text h1,h2,h3,h4,h5,h6{
    line-height: 125%;
}
.prompt_text h1,h2,h3,h4,h5,h6{
    margin: 8px 0 16px 0;
}
.mdpmpt {
    user-select: text !important;
    max-width: 1024px;
    left: 0px;
    transition: 0.25s;
}
.mdpmpt p img {
    max-width: 100%;
    margin: 0 auto;
}
.article_shortcut {
    position: relative;
    width: 100%;
    height: 88px;
    animation: appear 0.4s ease 1;
    padding: 4px 0;
}
.article_shortcut_text {
    position: relative;
    top: 20px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.25s;
}
.article_shortcut_text img {
    width: 16px;
    position: relative;
    top: 2px;
    left: -2px;
}
.article_shortcut_text mdtitle{
    font-size: 24px;
    font-weight: bold;
    opacity: 0.8;
    line-height: 36px;
}
.article_shortcut_text mdtitle2{
    font-size: 15px;
    opacity: 0.5;
}
.article_shortcut_text:active {
    background-color: rgba(0,0,0,0.25) !important;
}
.article_top_text {
    font-size: 15px;
    opacity: 0.75;
}
.article_top_text img {
    width: 16px;
    position: relative;
    top: 2px;
    left: -2px;
}
.smallprompt {
    position: absolute;
    top: calc(50vh - 180px);
    top: calc(50dvh - 180px);
    left: calc(50vw - 160px);
    width: 320px;
    height: 320px;
}
.largeprompt {
    position: absolute;
    top: calc(50vh - 380px);
    top: calc(50dvh - 380px);
    left: calc(50vw - 480px);
    width: 960px;
    height: 83vh;
    height: 83dvh;
}
.fullscreenprompt {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    border-radius: 0px !important;
}
.fullscreenprompt .pmpt_closebtn {
    right: 16px !important;
}
.fullscreenprompt .fullscrnbtn {
    right: -40px !important;
}
pre {
    background-color: #222;
    border: 2px solid #777;
    border-radius: 4px;
    padding: 12px;
    overflow-x: scroll;
    line-height: normal;
}
code {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 14px;
}
pre code {
    color: #fff;
}
table {
    background-color: rgba(127,127,127,0.6);
}
table th {
    background-color: rgba(255,255,255,0.6);
    padding: 4px 8px;
}
table td {
    background-color: rgba(255,255,255,0.8);
    padding: 4px 8px;
}
input {
    background-color: rgba(255,255,255,0.2);
    border: 1px #aaa;
    outline: none;
    border-radius: 4px;
    padding: 0px 12px;
    transition: 0.25s
}
input:focus {
    background-color: rgba(255,255,255,0.65);
}
.prompt_text input {
    font-size: 15px;
    width: calc(100% - 32px);
    line-height: 40px;
}
#pagestatus {
    position: absolute;
    right: -4px;
    top: calc(50vh - 14px);
    top: calc(50dvh - 14px);
    z-index: 1;
}
.dot {
    display: grid;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 12px 0;
    background-color: #000;
    opacity: 0.15;
    transition: 0.25s;
}
.dot:active {
    opacity: 0.1 !important;
}
.dot.highlighted_dot {
    opacity: 0.7;
}
del,hr {
    opacity: 0.4;
}
notice {
    display: block;
    width: calc(100% - 32px);
    background-color: #fffacc;
    padding: 8px 12px;
    border-radius: 4px;
}
textrt c span{
    opacity: 1;
    transition: .25s;
}
@media (prefers-color-scheme: dark) {
    body { 
        background: #252525; 
    }
    textrt {
        color: #767676;
    }
    #lt {
        color: #565656;
    }
    a {
        color: #aaf;
    }
    a:active {
        color: #559 !important;
    }
    c {
        color: rgba(255,255,255,0.7);
    }
    c:active {
        color: #000 !important;
        background-color: rgba(255, 255, 255, 0.75) !important;
    }
    #links a div:not(#othlnks div) {
        filter: invert(100%);
    }
    #othlnks {
        background-color: rgba(16,16,16,0.4);
    }
    #othlnks div {
        color: #CCC;
    }
    #cschooser {
        background-color: rgba(16,16,16,0.4);
    }
    #cschooser span {
        border: 2px solid #333;
    }
    #sectionchoice {
        filter: invert(100%);
    }
    #page2 .sections {
        background-color: rgba(16,16,16,0.4);
    }
    #tip1 span {
        color: #fff;
    }
    #centerpic {
        filter: invert(100%);
    }
    #toscr2 {
        filter: invert(100%);
    }
    #toscr1 {
        filter: invert(100%);
    }
    .sinfo {
        color: #FFF;
    }
    .stitle {
        color: #FFF;
    }
    .stitle2 {
        color: #FFF;
    }
    .slink {
        color: rgba(255,255,255,0.7);
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    }
    .slink:active {
        color: #000 !important;
        background-color: rgba(255,255,255,0.8) !important;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(191,191,191,1);
    }
    #bgcon {
        filter: invert(100%);
    }
    .prompt {
        background-color: rgba(16,16,16,0.8);
    }
    .prompt_text {
        color: #fff;
    }
    .article_shortcut_text {
        background-color: rgba(0,0,0,0.2);
        color: #fff
    }
    .article_shortcut_text:active {
        background-color: rgba(255,255,255,0.25) !important;
    }
    table th {
        background-color: rgba(0,0,0,0.6);
        padding: 4px 8px;
    }
    table td {
        background-color: rgba(0,0,0,0.8);
        padding: 4px 8px;
    }
    input {
        color: #eee;
        background-color: rgba(255,255,255,0.07);
    }
    input:focus {
        background-color: rgba(255,255,255,0.2);
    }
    input::placeholder {
        color: rgba(255,255,255,0.75)
    }
    .article_shortcut_text img {
        filter: invert(100%);
    }
    .article_top_text img {
        filter: invert(100%);
    }
    .centerpic_picelement {
        filter: invert(1);
    }
    .dot {
        background-color: #fff;
    }
    notice {
        background-color: #332b00;
    }
}
@media screen and (max-width: 524px) {
    .stitle {
        font-size: 32px;
    }
    textrt span:not(#chglang) {
        font-size: 15px;
    }
    .pmpt_closebtn {
        right: 16px;
    }
    .fullscrnbtn {
        right: -40px;
    }
    .article_shortcut_text img {
        width: 14px;
    }
    .article_shortcut_text mdtitle{
        font-size: 22px;
        line-height: 28px;
    }
    .article_shortcut_text mdtitle2{
        font-size: 14px;
    }
    .article_shortcut {
        padding: 0;
    }
    #mainlnks a div img,#sectionchoice a div img{
        width: 30px;
        height: 30px;
    }
    #links {
        bottom: 16px;
    }
    #mainlnks a div {
        padding: 5px;
    }
    #sectionchoice a div img {
        padding: 3px;
    }
}
@media screen and (max-width: 720px) {
    #tip1 {
        height: 74px;
    }
    .sinfo {
        font-size: 16px;
        line-height: 28px;
    }
    #page2 .sections{
        width: 80vw;
    }
}
@media screen and (max-width: 1024px) {
    .largeprompt {
        left: 3vw !important;
        width: 94vw !important;
    }
}
@media screen and (max-width: 1152px) {
    .largeprompt .pmpt_closebtn {
        right: 16px;
    }
    .largeprompt .fullscrnbtn {
        right: -40px;
    }
}
@media screen and (min-width: 1067px) {
    .fullscreenprompt .mdpmpt {
        left: calc(50vw - 536px);
        top: auto;
    }
}
@media screen and (min-height: 864px) {
    #page2 {
        top: calc(26vh - 220px);
        height: calc(48vh + 404px);
        top: calc(26dvh - 220px);
        height: calc(48dvh + 404px);
    }
    #page2 .sections{
        top: calc(3vh - 26px);
        top: calc(3dvh - 26px);
        height: calc(88% - 72px);
    }
    #sectionchoice {
        top: calc(6vh - 40px);
        top: calc(6dvh - 40px);
    }
    .largeprompt {
        height: 720px !important;
    }
}
@media screen and (max-height: 864px) {
    .largeprompt {
        top: calc(8.5vh - 20px) !important;
        top: calc(8.5dvh - 20px) !important;
    }
    #page2 .sections {
        top: calc(2vh - 18px)
    }
}
@media screen and (max-height: 1000px) {
    textrt.inpage2 img,textrt.inpage2 #currentcs,textrt.inpage2 span {
        opacity: 0 !important;
    }
}
@media (any-hover: hover) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(127,127,127,1);
    }
    a:hover {
        color: #77e;
    }
    c:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
    #currentcs:hover {
        opacity: 1.0;
    }
    #lt:hover {
        filter: brightness(65%);
    }
    #host_id:hover {
        filter: brightness(65%);
    }
    #mainlnks a div:hover {
        position: relative;
        bottom: 4px;
        opacity: 1.0;
    }
    #sectionchoice a div img:hover {
        position: relative;
        top: -4px;
        opacity: 1.0;
    }
    #othlnks div:hover {
        color: black;
        background-color: rgba(127,127,127,0.35);
    }
    #cschooser span:hover {
        filter: brightness(1.4);
    }
    #centerpic:hover{
        opacity: 0.8;
    }
    #toscr2:hover{
        opacity: 0.8;
        top: 40px;
    }
    #toscr1:hover{
        opacity: 0.8;
        top: 8px;
    }
    .slink:hover {
        color: rgba(0,0,0,0.9);
        background-color: rgba(0,0,0,0.07);
    }
    #bgcon:hover {
        opacity: 0.75;
    }
    .pmpt_closebtn:hover {
        opacity: 0.8;
    }
    .article_shortcut_text:hover {
        background-color: rgba(0,0,0,0.07);
    }
    .dot:hover {
        opacity: 0.9;
    }
}
@media (prefers-color-scheme: dark) and (any-hover: hover) {
    a:hover {
        color: #eef;
    }
    c:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.15);
    }
    #othlnks div:hover {
        color: #fff;
        background-color: rgba(255,255,255,0.15);
    }
    .slink:hover {
        color: #fff;
        background-color: rgba(255,255,255,0.1);
    }
    #lt:hover {
        filter: brightness(140%);
    }
    #host_id:hover {
        filter: brightness(140%);
    }
    .article_shortcut_text:hover {
        background-color: rgba(255,255,255,0.04);
    }
}
@keyframes appear {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
@keyframes disappear {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
@keyframes lnkshowup {
    from {
        opacity: 0.0;
        transform: translateY(32px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes lnkhide {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(32px);
    }
}
@keyframes lnkshowup2 {
    from {
        opacity: 0.0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes lnkhide2 {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(-16px);
    }
}
@keyframes icoshowup {
    from {
        opacity: 0.0;
        top: 80px;
    }
    to {
        opacity: 1.0;
        top: 0px;
    }
}
@keyframes icogo {
    from {
        opacity: 1.0;
        top: 0px;
    }
    to {
        opacity: 0.0;
        top: -80px;
    }
}
@keyframes pg1go {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(-90px);
    }
}
@keyframes pg2showup {
    from {
        opacity: 0.0;
        transform: translateY(90px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes pg2go {
    from {
        opacity: 1.0;
        transform: translateY(0px);
    }
    to {
        opacity: 0.0;
        transform: translateY(90px);
    }
}
@keyframes pg1showup {
    from {
        opacity: 0.0;
        transform: translateY(-90px);
    }
    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}
@keyframes secshowup {
    from {
        opacity: 0.0;
        transform: translateX(120px);
    }
    to {
        opacity: 1.0;
        transform: translateX(0px);
    }
}
@keyframes secgo {
    from {
        opacity: 1.0;
        transform: scale(1);
    }
    to {
        opacity: 0.0;
        transform: scale(0.8);
    }
}
@keyframes secshowup2 {
    from {
        opacity: 0.0;
        transform: scale(0.8);
    }
    to {
        opacity: 1.0;
        transform: scale(1);
    }
}
@keyframes secgo2 {
    from {
        opacity: 1.0;
        transform: translateX(0px);
    }
    to {
        opacity: 0.0;
        transform: translateX(120px);
    }
}
@keyframes tipshow {
    from {
        opacity: 0;
        top: -74px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
@keyframes tipunshow {
    from {
        opacity: 1;
        top: 0px;
    }
    to {
        opacity: 0;
        top: -74px;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes lnksappear {
    from {
        bottom: -96px;
    }
    to {
        bottom: 0px;
    }
}
@keyframes textrtappear {
    from {
        top: -16px;
    }
    to {
        top: 16px;
    }
}
@keyframes spinstop {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}