#loadingbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: cornflowerblue;
    opacity: 0;
    pointer-events: none;
    transition: .75s ease;
    z-index: 20;
}
@keyframes lb_anim1 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}