#container2 {
    position: absolute;
    margin: auto;
    display: grid;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}
#shortcuts_container,.sc_i_filter {
    width: 480px;
    user-select: none;
}
.sc_item {
    width: 100%;
    height: 100px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0,0,0,.4);
    transition: .25s;
    overflow: hidden;
}
.sc_item,.sc_item.imgload .sc_i_filter {
    background-color: #525252;
}
.sc_i_title {
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    position: relative;
    line-height: 40px;
    margin-left: 14px;
    margin-top: 50px;
}
.sc_item:active {
    transform: translateY(4px) !important;
    box-shadow: 0px 1px 4px rgba(0,0,0,.8) !important;
    filter: brightness(.5) !important;
}
.sc_item.small {
    height: 72px;
}
.sc_item.small .sc_i_title {
    font-size: 26px;
    line-height: 36px;
    margin-top: 30px;
}
.sc_i_filter {
    position: absolute;
    height: inherit;
    border-radius: 8px;
    backdrop-filter: blur(0px) brightness(1.35);
    background-color: #0000;
    transition: .4s;
}
@media (prefers-color-scheme: dark) {
    .sc_item,.sc_item.imgload .sc_i_filter {
        background-color: #1a1a1a;
    }
    .sc_i_filter {
        backdrop-filter: blur(0px);
    }
}
@media (any-hover: hover) {
    .sc_item:hover {
        transform: translateY(-4px);
        box-shadow: 0px 4px 24px rgba(0,0,0,.4);
        filter: brightness(1.2);
    }
}
@media screen and (max-width: 540px) {
    #shortcuts_container,.sc_i_filter {
        width: 320px;
    }
    .sc_i_title {
        font-size: 26px;
    }
    .sc_item {
        height: 94px;
    }
}